@import url("./font.css");
/* data-scroll */
.intro_wrap {
  position: fixed;
  background: #e7f2ff;
  z-index: 100;
}
.intro_wrap_in {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.intro_wrap_in .intro_tt_box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 19%;
  width: 100%;
  text-align: center;
}
@media (width < 1024px) {
  .intro_wrap_in .intro_tt_box img {
    width: 20%;
  }
}
@media (width < 768px) {
  .intro_wrap_in .intro_tt_box img {
    width: 35%;
  }
}
.intro_wrap_in .intro_tt_box .text {
  color: #222;
  font-size: 3rem;
  line-height: 1.3;
  margin-top: 25px;
}
.intro_wrap_in .intro_tt_box .text strong {
  color: #7bb7ff;
}
@media (width < 1024px) {
  .intro_wrap_in .intro_tt_box .text {
    font-size: 3.7vw;
  }
}
@media (width < 768px) {
  .intro_wrap_in .intro_tt_box .text {
    font-size: 7.85vw;
    margin-top: 20px;
  }
}
.intro_wrap_in .intro_logo2 {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
@media (width < 1024px) {
  .intro_wrap_in .intro_logo2 img {
    width: 80%;
  }
}