@import url("./font.css");
/* data-scroll */
#mb_login {
  background: #e7f2ff;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
#mb_login .mbskin_box {
  border: none;
  background: none;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18%;
}
@media (width < 768px) {
  #mb_login .mbskin_box {
    top: 14%;
    width: 250px;
  }
}
#mb_login .mbskin_box .login_logo img {
  width: 55%;
}
@media (width < 768px) {
  #mb_login .mbskin_box .login_logo img {
    width: 50%;
  }
}
#mb_login .mbskin_box #login_fs {
  padding: 35px 0 0;
}
#mb_login .mbskin_box #login_fs .frm_input {
  margin-bottom: 18px;
  padding: 5px 13px;
  height: 50px;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  background-image: unset !important;
}
@media (width < 768px) {
  #mb_login .mbskin_box #login_fs .frm_input {
    height: 40px;
    font-size: 1rem;
  }
}
#mb_login .mbskin_box #login_fs .frm_input:focus {
  border: 1px solid #7bb7ff;
  box-shadow: 0px 0px 8px rgba(194, 222, 255, 0.5) inset;
}
#mb_login .mbskin_box #login_fs .password_wrap {
  position: relative;
}
#mb_login .mbskin_box #login_fs .password_wrap i {
  position: absolute;
  top: 26%;
  left: 88%;
  color: gray;
}
@media (width < 768px) {
  #mb_login .mbskin_box #login_fs .password_wrap i {
    top: 23%;
  }
}
#mb_login .mbskin_box #login_fs .btn_submit {
  height: 50px;
  font-size: 1.1rem;
  background: #7bb7ff;
  margin-bottom: 45px;
}
@media (width < 768px) {
  #mb_login .mbskin_box #login_fs .btn_submit {
    height: 40px;
    font-size: 1rem;
    margin-bottom: 40px;
  }
}
#mb_login .mbskin_box #login_fs .btn_submit:hover {
  color: #fff;
  background: #5a9cec;
}
#mb_login .mbskin_box #login_fs .login_pp {
  font-size: 1rem;
  color: #7bb7ff;
}
@media (width < 768px) {
  #mb_login .mbskin_box #login_fs .login_pp {
    font-size: 0.9rem;
  }
}
#mb_login .mbskin_box input::-moz-placeholder {
  text-align: center;
  font-size: 1.1rem;
}
#mb_login .mbskin_box input::placeholder {
  text-align: center;
  font-size: 1.1rem;
}
@media (width < 768px) {
  #mb_login .mbskin_box input::-moz-placeholder {
    font-size: 1rem;
  }
  #mb_login .mbskin_box input::placeholder {
    font-size: 1rem;
  }
}
#mb_login .login_logo2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}
@media (width < 1024px) {
  #mb_login .login_logo2 img {
    width: 80%;
  }
}