@charset "utf-8";
@import "common_set";

#mb_login {
    background: $intro_bg;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    .mbskin_box {
        border: none;
        background: none;
        width: 300px;
        @include position_cnt;
        top: 18%;
        @include mobile {
            top: 14%;
            width: 250px;
        }
        .login_logo img {
            width: 55%;
            @include mobile {
                width: 50%;
            }
        }

        #login_fs{
            padding: 35px 0 0;
            .frm_input {
                margin-bottom: 18px;
                padding: 5px 13px;
                height: 50px;
                font-size: $pc_font_r;
                letter-spacing: 0.2px;
                background-image: unset !important;
                @include mobile {
                    height: 40px;
                    font-size: $pc_font_sr;
                }
                &:focus {
                    border: 1px solid $main_blue;
                    box-shadow: 0px 0px 8px rgba(194, 222, 255, 0.5) inset;
                }
            }
            .password_wrap {
                position: relative;
                i {
                    position: absolute;
                    top: 26%;
                    left: 88%;
                    color: gray;
                    @include mobile {
                        top: 23%;
                    }
                }
            }
            .btn_submit {
                height: 50px;
                font-size: $pc_font_r;
                background: $main_blue;
                margin-bottom: 45px;
                @include mobile {
                    height: 40px;
                    font-size: $pc_font_sr;
                    margin-bottom: 40px;
                }
                &:hover {
                    color: #fff;
                    background: $dark_blue;
                }
            }
            .login_pp{
                font-size: $pc_font_sr;
                color: $main_blue;
                @include mobile {
                    font-size: 0.9rem;
                }
            }
        }
        
        input::placeholder{
            text-align: center;
            font-size: $pc_font_r;
            @include mobile {
                font-size: $pc_font_sr;
            }
        }
    }

    
    .login_logo2{
        @include position_cnt;
        bottom: 5%;
        img {
            @include tablet {
                width: 80%;
            }
        }
    }
}